/* AGREGANDO STILOS A LAS TARJETAS */
/* 1. RESETEO BASICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif , tahoma, arial, Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #a8a2a2;
    padding: 50px;
}


/* 2. REPASO FLEXBOX */
.contenedor-tarjetas {
    display: flex;
    gap: 40px;
    margin-top: 40px;
    justify-content: center; /*Tarjetas en la pantalla*/
}

/* DISEÑO BASE DE LA TARJETA */
.tarjeta {
    background-color: #dbd6d6;
    width: 320px;
    border-radius: 15px;
    text-align: center;
    padding: 40px 30px;

    /* Magia 1: Sombra estatica suave */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

    /* Magia 2: Prepararemos la animacion */
    /* si cambia de posicion o de sombra, que sea suavemente */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* el efecto wow */
.tarjeta:hover {
    transform: translateY(-10px); /* Eleva la tarjeta */
    /* la tarjeta se hace mas grande y oscura */
    box-shadow: 0 15px 30px rgba(148, 24, 24, 0.7); /* Sombra mas intensa */
}

.tarjeta h3 {
    margin-bottom: 15px;
    color: #1a1919;
    margin-bottom: 15px;
}

.precio {
    font-size: 36px;
    color: #1a1919;
    margin-bottom: 20px;
    font-weight: bold;
}

.tarjeta p {
    color: #1a1919;
    margin-bottom: 30px;
    line-height: 1.6;
}

.tarjeta button {
    background-color: #1a1919;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.tarjeta .btn-destacado {
    background-color: #3976e6;
    color: white;
}

.tarjeta button:hover {
    background-color: #c6e639;
}