* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background:  #e0e5ec;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #bebbbb;
    border-radius: 5px;
    margin: 15px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.resultado {
    color: #555;
    margin-top: 20px;
    font-weight: bold;
}